* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

.wrapper {
  position: relative;
  width: 460px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  overflow: hidden;
  .authorize {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(25, 20, 20);
    z-index: 10;
    border-bottom: 2px solid white;
    .spotify-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      margin: 12px;
    }
    .login-container {
      margin: 6px 0;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 14px;
      cursor: default;
      .authorize__btn {
        position: relative;
        font-weight: 600;
        color: #1DB954;
        font-size: 16px;
        cursor: pointer;
        &:after {    
          background: none repeat scroll 0 0 transparent;
          bottom: -2px;
          content: "";
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          background: #1DB954;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        &:hover:after { 
          width: 100%; 
          left: 0; 
        }
      }
    }

  }
  .spotify-opener {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    background: rgba(25, 20, 20, 0.9);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    font-family: 'Inter', sans-serif;
    .opener-description {
      opacity: 0.9;
    }
    a:link {
      color: #1DB954;
    }
    a:visited {
      color: #1DB954;
    }
    a:hover {
      color: #1DB954;
    }
    a:active {
      color: #1DB954;
    }
  }
  .main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8px;
    .gradient-overlay {
      position: absolute;
      inset: 0;
      background: transparent;
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(25,20,20,0.8) 80%);
    }
    .album-cover {
      position: relative;
      width: 104px;
      height: 104px;
      min-width: 104px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .heart-btn {
      position: absolute;
      top: -1px;
      right: -6px;
      display: flex;
      height: auto;
      outline: none;
      background-color: transparent;
      border: none;
      padding: 6px 6px 6px 4px;
      svg {
        fill: rgba(255,255,255,0.8);
        width: 20px;
        max-height: 20px;
      }
      .like-svg {
        fill: #0ebb4b;
        // &:active {
        //   animation: likeAnimation 1s;
        // }
        // @keyframes likeAnimation {
        //   from {
        //     transform: scale3d(0.4,0.4,0.4);
        //   }
        //   to {
        //     transform: scale3d(1,1,1);
        //   }
        // }
      }
    }
    .like-animation {
      animation: likeAnimation 400ms;
    }
    @keyframes likeAnimation {
      0% {
        transform: scale3d(0.4,0.4,0.4);
      }
      50% {
        transform: scale3d(1.1,1.1,1.1);
      }
      75% {
        transform: scale3d(0.9,0.9,0.9);
      }
      100% {
        transform: scale3d(1,1,1);
      }
    }
    .section {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      // padding: 4px 0;
      padding-top: 4px;
      .song {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 12px;
        height: 37px;
        min-height: 37px;
        overflow:hidden;
        max-width: 287px;
        margin-left: 28px;
        .song__name {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          color: rgba(255, 255, 255, 0.9);
        }
        .song__artists {
          font-family: 'Roboto', sans-serif;
          font-style: italic;
          font-weight: 400;
          overflow: hidden;
          white-space: nowrap;
          color: rgba(255, 255, 255, 0.65);
          margin-top: 2px;
        }
        .song__underline {
          width: 100%;
          height: 2px;
          background: #0ebb4b;
          background: black;
          background: linear-gradient(90deg, #0ebb4b, transparent);
          margin: 4px 0;
        }
      }
      .controllers {
        width: 100%;
        margin-top: auto;
        margin-left: 19px;
        .controllers-group {
          display: flex;
          align-items: center;
          height: 32px;
          .controllers__btn {
            display: grid;
            place-items: center;
            outline: none;
            background-color: transparent;
            border: none;
            color: white;
            padding: 0 6px;
            margin: 0 4px;
            height: 100%;
            position: relative;
            width: 27px;
            svg {
              height: 100%;
              max-height: 100%;
              width: 100%;
              -webkit-filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .2));
              filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .2));
            }
            .toggle-blob {
              display: none;
              position: absolute;
              height: 4px;
              width: 4px;
              background-color: #0ebb4b;
              opacity: 0.8;
              border-radius: 100%;
              bottom: 2px;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
            }
            .toggle-blob--track {
              font-family: 'Inter', sans-serif;
              font-weight: 800;
              place-items: center;
              top: 6px;
              right: 4px;
              height: 10px;
              width: 10px;
              font-size: 7px;
              opacity: 1;
              background-color: #0e9b3f; // not the real spotify color
              color: black;
            }
            .stroke-white {
              opacity: 0.8;
              fill: none;
            }
            .fill-white {
              stroke: none;
              fill: rgba(255, 255, 255, 0.8);
            }
          }
          .controllers__btn--big {
            width: 44px;
            &:hover {
              transform: scale3d(1.05,1.05,1.05);
            }
            &:active {
              transform: scale3d(1,1,1);
            }
            svg {
              -webkit-filter: none;
              filter: none;
            }
          }
          .controllers__btn--skip {
            width: 24px;
            &:hover .fill-white {
              fill: rgba(255, 255, 255, 1);
            }
          }
          .controllers__btn--stroke {
            &:hover .stroke-white {
              opacity: 1;
            }
            &:hover .shuffle-blob {
              opacity: 1;
            }
            &:hover .toggle-blob--track {
              background-color: #0ebb4b;
            }
          }
        }

      }
    }



    .music-wave-container {
      position: absolute;
      z-index: 5;
      // bottom: 8px;
      // right: 23px;
      top: 29px;
      left: 120px;
      
      span{  
        width:3px;  
        height: 5px;  
        bottom:0px;
        position:absolute;  
        background:#0ebb4b;
        border-radius: 3px 3px 0 0;
      }
      
      span:first-child{  
        left:0px;
        animation: bodong1 1s infinite ease;
        animation-delay: 0.35s;
      }  
      
      span:nth-child(2){  
        left:4px;
        animation: bodong2 1s infinite ease;
        animation-delay: 0.2s;
      }  
      span:nth-child(3){  
        left:8px;
        animation: bodong3 1s infinite ease;
        animation-delay: 0.5s;
      }  
      span:nth-child(4){  
        left:12px;
        animation: bodong4 1s infinite ease;
      }  
      
      @keyframes bodong1 {  
        0%{height:3px; background:bule;}  
        35%{height:10px; background:bule;}  
        65%{height:15px; background:bule;}   
        100%{height:3px; background:bule;}  
      }
      @keyframes bodong2 {  
        0%{height:3px; background:bule;}  
        35%{height:10px; background:bule;}  
        55%{height:15px; background:bule;}   
        100%{height:3px; background:bule;}  
      }
      @keyframes bodong3 {  
        0%{height:3px; background:bule;}  
        30%{height:10px; background:bule;}  
        55%{height:15px; background:bule;}   
        100%{height:3px; background:bule;}  
      }
      @keyframes bodong4 {  
        0%{height:3px; background:bule;}  
        40%{height:10px; background:bule;}  
        75%{height:15px; background:bule;}   
        100%{height:3px; background:bule;} 
      }
    }

  }
}